@{
}

@model Intex.Models.crash

<h1>Add/Edit Accident</h1>

<div>
    <form method="post">

            <div asp-validation-summary="All"></div>
            <div class="row">
                <div class="col-6">
                    @*<input asp-for="CRASH_ID" value="@ViewBag.ID" />*@

                    <label asp-for="CRASH_DATE">Accident Date</label><br />
                    <input type="date" asp-for="CRASH_DATE" class="form-control" />


                    <div class="row">
                        <div class="col-6">
                            <label asp-for="TIME">Time</label><br />
                            <input asp-for="TIME" placeholder="(H:MM:SS)" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label asp-for="TIME_OF_DAY"> _ </label><br />
                            @*<input asp-for="TIME_OF_DAY" class="form-control" />*@
                            <select asp-for="TIME_OF_DAY" class="form-control">
                                <option value="AM">AM</option>
                                <option value="PM">PM</option>
                            </select>
                        </div>
                    </div>

                    <label asp-for="COUNTY_NAME">County</label><br />
                    <select asp-for="COUNTY_NAME" class="form-control">
                        <option value="">Select a County</option>
                        @foreach (string s in ViewBag.Counties)
                        {
                            <option value="@s">@s</option>
                        }
                    </select>


                    <label asp-for="CITY">City</label><br />
                    <input asp-for="CITY" class="form-control">

                    <label asp-for="ROUTE">Route</label><br />
                    <input asp-for="ROUTE" class="form-control">

                    <label asp-for="MILEPOINT">Milepoint</label><br />
                    <input asp-for="MILEPOINT" class="form-control">

                    <label asp-for="MAIN_ROAD_NAME">Main Road Name</label><br />
                    <input asp-for="MAIN_ROAD_NAME" class="form-control">

                    <br />
                    <input asp-for="CRASH_SEVERITY_ID" class="form-control" type="range" min="1" max="5" step="1" oninput="this.nextElementSibling.value = this.value">
                    <output>3</output> <label asp-for="CRASH_SEVERITY_ID"> - Crash Severity </label>
                    <br />

                    <label>Geographic Location</label>
                    <br />
                    <label asp-for="LAT_UTM_Y">Latitude</label>
                    <br />
                    <input asp-for="LAT_UTM_Y" class="form-control">

                    <label asp-for="LONG_UTM_X">Longitude</label>
                    <br />
                    <input asp-for="LONG_UTM_X" class="form-control">

                    @*<input asp-for="CRASH_ID"value="@Model.CRASH_ID" hidden />*@
                    <input asp-for="CRASH_ID" value="@ViewBag.CrashID" hidden />



                </div>


        

                <div class="col-6 ">
                    <table>
                        <thead>
                            <tr>
                                <th class="bg-dark font-weight-bold text-white text-center" colspan="2">Factors</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="WORK_ZONE_RELATED">
                                        <label asp-for="WORK_ZONE_RELATED" class="custom-control-label">Work Zone Related</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="PEDESTRIAN_INVOLVED">
                                        <label asp-for="PEDESTRIAN_INVOLVED" class="custom-control-label">Pedestrian Involved</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="BICYCLIST_INVOLVED">
                                        <label asp-for="BICYCLIST_INVOLVED" class="custom-control-label">Bicyclist Involved</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="MOTORCYCLE_INVOLVED">
                                        <label asp-for="MOTORCYCLE_INVOLVED" class="custom-control-label">Motorcycle Involved</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="IMPROPER_RESTRAINT">
                                        <label asp-for="IMPROPER_RESTRAINT" class="custom-control-label">Improper Restraint</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="UNRESTRAINED">
                                        <label asp-for="UNRESTRAINED" class="custom-control-label">Unrestrained</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="DUI">
                                        <label asp-for="DUI" class="custom-control-label">DUI</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="INTERSECTION_RELATED">
                                        <label asp-for="INTERSECTION_RELATED" class="custom-control-label">Intersection Related</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="WILD_ANIMAL_RELATED">
                                        <label asp-for="WILD_ANIMAL_RELATED" class="custom-control-label">Wild Animal Related</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="DOMESTIC_ANIMAL_RELATED">
                                        <label asp-for="DOMESTIC_ANIMAL_RELATED" class="custom-control-label">Domestic Animal Related</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="OVERTURN_ROLLOVER">
                                        <label asp-for="OVERTURN_ROLLOVER" class="custom-control-label">Overturn Rollover</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED">
                                        <label asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED" class="custom-control-label">Commercial Vehicle Involved</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="TEENAGE_DRIVER_INVOLVED">
                                        <label asp-for="TEENAGE_DRIVER_INVOLVED" class="custom-control-label">Teenage Driver Involved</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="OLDER_DRIVER_INVOLVED">
                                        <label asp-for="OLDER_DRIVER_INVOLVED" class="custom-control-label">Older Driver Involved</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="NIGHT_DARK_CONDITION">
                                        <label asp-for="NIGHT_DARK_CONDITION" class="custom-control-label">Night/Dark Conditions</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="SINGLE_VEHICLE">
                                        <label asp-for="SINGLE_VEHICLE" class="custom-control-label">Single Vehicle</label>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="DISTRACTED_DRIVING">
                                        <label asp-for="DISTRACTED_DRIVING" class="custom-control-label">Distracted Driving</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="DROWSY_DRIVING">
                                        <label asp-for="DROWSY_DRIVING" class="custom-control-label">Drowsy Driving</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" asp-for="ROADWAY_DEPARTURE">
                                        <label asp-for="ROADWAY_DEPARTURE" class="custom-control-label">Roadway Departure</label>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <br /><br />
                    <button type="submit" class="btn btn-primary" save="width:50%">Save</button>
                </div>
            </div>
        </form>
    </div>

