
@{
    ViewData["Title"] = "Summary";
}

<!---------------------------WE WILL NOT BE USING THIS PAGE------------------------------->

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@model CrashesViewModel

<div class="text-center">
    <a asp-controller="Account" asp-action="AddAccident" class="btn btn-primary">Add Accident</a>
</div>

<table class="table table-bordered table-hover">

    <thead class="font-weight-bold">
        <tr>
            <td>Crash Id</td>
            <td>Date</td>
            <td>Route</td>
            <td>Main Road</td>
            <td>City</td>
            <td>County</td>
            <td>Severity</td>

        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model.crashes)
        {

        <tr>
            <td><a asp-controller="Account" asp-action="AdminDetails" asp-route-crashID="@x.CRASH_ID">@x.CRASH_ID</a></td>
            <td>@x.CRASH_DATE</td>
            <td>@x.ROUTE</td>
            <td>@x.MAIN_ROAD_NAME</td>
            <td>@x.CITY</td>
            <td>@x.COUNTY_NAME</td>
            <td>@x.CRASH_SEVERITY_ID</td>

            <td><a class="btn btn-warning" asp-controller="Account" asp-action="Edit" asp-route-crashId="@x.CRASH_ID">Edit</a></td>
            <td><a class="btn btn-danger" asp-controller="Account" asp-action="Delete" asp-route-crashId="@x.CRASH_ID">Delete</a></td>
        </tr>

        }

    </tbody>

</table>

<br />

<div page-tag="@Model.PageInfo"
     page-action="Summary"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     page-classes-enabled="true"
     class="btn-group pull-right m-1"></div>