@{
    ViewData["Title"] = "Summary";
}

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@model CrashesViewModel
<!------------------------------------ SHOWS DATABASE ----------------------------------------------------------->

<div class="row">
    <div class="col-12 text-center">
        <h1 class="text-center">CrashStats Database</h1><br />

        @if (User.Identity.IsAuthenticated)
        {
            <div class="center">
                <a asp-controller="Account" asp-action="AddAccident" class="btn btn-primary">Add Accident</a>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-2"><br /><br />
    <h4>Filters</h4>

        <form asp-controller="Home" asp-action="Summary" method="get">
            <p>

                Severity: <input type="number" name="severity" class="form-control" value="@Model.Severity"/>
                County: <input type="text" name="countyName" class="form-control" value="@Model.CountyName" />
                City: <input type="text" name="cityName" class="form-control" value="@Model.CityString" />
                @*<input class="btn btn primary" type="submit" value="Filter" />*@
            </p>
            <button class="btn btn-primary btn-block" type="submit">Filter</button>
        </form>

    </div>


    <div class="col-10">
        <br /><br />

        <table class="table table-bordered table-hover">

            <thead class="font-weight-bold">
                <tr>
                    <td>Crash Id</td>
                    <td>Date</td>
                    <td>Route</td>
                    <td>Main Road</td>
                    <td>City</td>
                    <td>County</td>
                    <td>Crash Severity</td>

                </tr>
            </thead>

            <tbody>

                @foreach (var x in Model.crashes)
                {

                    <tr>
                        <td><a asp-controller="Home" asp-action="Details" asp-route-crashID="@x.CRASH_ID">@x.CRASH_ID</a></td>
                        <td>@x.CRASH_DATE</td>
                        <td>@x.ROUTE</td>
                        <td>@x.MAIN_ROAD_NAME</td>
                        <td>@x.CITY</td>
                        <td>@x.COUNTY_NAME</td>
                        <td>@x.CRASH_SEVERITY_ID</td>


                        @if (User.Identity.IsAuthenticated)
                        {
                            <td><a class="btn btn-warning" asp-controller="Account" asp-action="Edit" asp-route-crashId="@x.CRASH_ID">Edit</a></td>
                            <td><a class="btn btn-danger" asp-controller="Account" asp-action="Delete" asp-route-crashId="@x.CRASH_ID">Delete</a></td>
                        }
                    </tr>

                }

            </tbody>

        </table>

        <br />
        <div class="text-center">
            <div page-tag="@Model.PageInfo"
                 page-action="Summary"
                 page-class="btn"
                 page-class-normal="btn-outline-dark"
                 page-class-selected="btn-primary"
                 page-classes-enabled="true"
                 class="btn-group pull-right m-1 "></div>
            </div>
        </div>
</div>