@{
    ViewData["Title"] = "Summary";
}

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@model CrashesViewModel



<div class="row">
    <div class="col-2">
        <h4>Filter by Crash Severity</h4>
        <a class="btn btn-block @(ViewBag.Crash == 0 ? "btn-primary" : "btn-outline-primary")" asp-controller="Home" asp-action="Summary" asp-route-severity="0">All Crashes</a>

        <a asp-controller="Home" asp-action="Summary" asp-route-severity="1"
           class="btn btn-block @(ViewBag.Crash == 1 ? "btn-warning" : "btn-outline-warning")">One</a>

        <a asp-controller="Home" asp-action="Summary" asp-route-severity="2"
           class="btn btn-block @(ViewBag.Crash == 2 ? "btn-warning" : "btn-outline-warning")">Two</a>

        <a asp-controller="Home" asp-action="Summary" asp-route-severity="3"
           class="btn btn-block @(ViewBag.Crash == 3 ? "btn-warning" : "btn-outline-warning")">Three</a>

        <a asp-controller="Home" asp-action="Summary" asp-route-severity="4"
           class="btn btn-block @(ViewBag.Crash == 4 ? "btn-danger" : "btn-outline-danger")">Four</a>

        <a asp-controller="Home" asp-action="Summary" asp-route-severity="5"
           class="btn btn-block @(ViewBag.Crash == 5 ? "btn-danger" : "btn-outline-danger")">Five</a>

        <br />
        @if (ViewBag.Crash != 0)
        {

            <div class="dropdown d-flex flex-row-reverse">

                @if (ViewBag.CountyName != null)
                {
                    <button class="btn btn-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @ViewBag.CountyName County
                    </button>
                }
                else
                {
                    <button class="btn btn-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select County
                    </button>
                }


                <div style="height: 200px" class="dropdown-menu overflow-auto" aria-labelledby="dropdownMenuButton">
                    @foreach (string county in ViewBag.Counties)
                    {
                        <a class="dropdown-item" asp-controller="Home" asp-action="Summary" asp-route-countyName="@county">@county</a>
                    }

                </div>
            </div>
        }

    </div>


    <div class="col-10">
        <div class="row">
            <div class="col-9">
                <div page-tag="@Model.PageInfo"
                     page-action="Summary"
                     page-class="btn"
                     page-class-normal="btn-outline-dark"
                     page-class-selected="btn-primary"
                     page-classes-enabled="true"
                     class="btn-group pull-right m-1"></div>
            </div>


            <div class="col-3 justify-content-end">
                <div class="dropdown d-flex flex-row-reverse">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Account" asp-action="AddAccident" class="btn btn-primary">Add Accident</a>
                    }
                </div>

                @* @if (ViewBag.Crash != 0)
                    {

                    <div class="dropdown d-flex flex-row-reverse">

                        @if (ViewBag.CountyName != null)
                        {
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @ViewBag.CountyName County
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select County
                            </button>
                        }


                        <div style="height: 200px" class="dropdown-menu overflow-auto" aria-labelledby="dropdownMenuButton">
                            @foreach (string county in ViewBag.Counties)
                            {
                                <a class="dropdown-item" asp-controller="Home" asp-action="Summary" asp-route-countyName="@county">@county</a>
                            }

                        </div>
                    </div>
                }*@
            </div>


        </div>

        <br /><br />

        <table class="table table-bordered table-hover">

            <thead class="font-weight-bold">
                <tr>
                    <td>Crash Id</td>
                    <td>Date</td>
                    <td>Route</td>
                    <td>Main Road</td>
                    <td>City</td>
                    <td>County</td>


                </tr>
            </thead>

            <tbody>

                @foreach (var x in Model.crashes)
                {

                    <tr>
                        <td><a asp-controller="Home" asp-action="Details" asp-route-crashID="@x.CRASH_ID">@x.CRASH_ID</a></td>
                        <td>@x.CRASH_DATE</td>
                        <td>@x.ROUTE</td>
                        <td>@x.MAIN_ROAD_NAME</td>
                        <td>@x.CITY</td>
                        <td>@x.COUNTY_NAME</td>
                        <td>@x.CRASH_SEVERITY_ID</td>


                        @if (User.Identity.IsAuthenticated)
                        {
                            <td><a class="btn btn-warning" asp-controller="Account" asp-action="Edit" asp-route-crashId="@x.CRASH_ID">Edit</a></td>
                            <td><a class="btn btn-danger" asp-controller="Account" asp-action="Delete" asp-route-crashId="@x.CRASH_ID">Delete</a></td>
                        }
                    </tr>

                }

            </tbody>

        </table>

        <br />

        <div page-tag="@Model.PageInfo"
             page-action="Summary"
             page-class="btn"
             page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary"
             page-classes-enabled="true"
             class="btn-group pull-right m-1"></div>
    </div>
</div>