
@{
    ViewData["Title"] = "Summary";
}

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@model CrashesViewModel



<div class="row">
    <div class="col-2">
        <h3>Filter by Crash Severity</h3>
        <a class="btn btn-block @(ViewBag.Crash == 0 ? "btn-primary" : "btn-outline-primary")" asp-controller="Home" asp-action="Summary" asp-route-severity="0">All Crashes</a>

        <a asp-controller="Home" asp-action="Summary" asp-route-severity="1"
           class="btn btn-block @(ViewBag.Crash == 1 ? "btn-warning" : "btn-outline-warning")">One</a>

        <a asp-controller="Home" asp-action="Summary" asp-route-severity="2"
           class="btn btn-block @(ViewBag.Crash == 2 ? "btn-warning" : "btn-outline-warning")">Two</a>

        <a asp-controller="Home" asp-action="Summary" asp-route-severity="3"
           class="btn btn-block @(ViewBag.Crash == 3 ? "btn-warning" : "btn-outline-warning")">Three</a>

        <a asp-controller="Home" asp-action="Summary" asp-route-severity="4"
           class="btn btn-block @(ViewBag.Crash == 4 ? "btn-danger" : "btn-outline-danger")">Four</a>

        <a asp-controller="Home" asp-action="Summary" asp-route-severity="5"
           class="btn btn-block @(ViewBag.Crash == 5 ? "btn-danger" : "btn-outline-danger")">Five</a>
    </div>
    <div class="col-10">
        <div class="row">
            <div page-tag="@Model.PageInfo"
                 page-action="Summary"
                 page-class="btn"
                 page-class-normal="btn-outline-dark"
                 page-class-selected="btn-primary"
                 page-classes-enabled="true"
                 class="btn-group pull-right m-1"></div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select County
                </button>
                <div style="height: 200px" class="dropdown-menu overflow-auto" aria-labelledby="dropdownMenuButton">
                    @foreach (string county in ViewBag.Counties)
                    {
                        <a class="dropdown-item" asp-controller="Home" asp-action="Summary" asp-route-countyName="@county">@county</a>
                    }

                </div>
            </div>
        </div>


        <table class="table table-bordered table-hover">

            <thead class="font-weight-bold">
                <tr>
                    <td>Crash Id</td>
                    <td>Date</td>
                    <td>Route</td>
                    @*<td>Milepoint</td>
                    <td>Latitude</td>
                    <td>Longitude</td>*@
                    <td>Main Road</td>
                    <td>City</td>
                    <td>County</td>
                    <td>Severity</td>
                    @*<td>Work Zone Related?</td>
                    <td>Pedestrian Involved?</td>
                    <td>Bicyclist Involved?</td>
                    <td>Motorcycle Involved?</td>
                    <td>Improper Restraint?</td>
                    <td>Unrestrained?</td>
                    <td>DUI?</td>
                    <td>Intersection Related?</td>
                    <td>Wild Animal Related?</td>
                    <td>Domestic Animal Related?</td>
                    <td>Overturn Rollover?</td>
                    <td>Commercial Motor Vehicle Involved?</td>
                    <td>Teenage Driver Involved?</td>
                    <td>Older Driver Involved?</td>
                    <td>Night Dark Condition?</td>
                    <td>Single Vehicle?</td>
                    <td>Distracted Driving?</td>
                    <td>Drowsy Driving?</td>
                    <td>Roadway Departure?</td>*@

                </tr>
            </thead>

            <tbody>

                @foreach (var x in Model.crashes)
                {

                    <tr>
                        <td><a asp-controller="Home" asp-action="Details" asp-route-crashID="@x.CRASH_ID">@x.CRASH_ID</a></td>
                        <td>@x.CRASH_DATE</td>
                        <td>@x.ROUTE</td>
                        @*<td>@x.MILEPOINT</td>
                        <td>@x.LAT_UTM_Y</td>
                        <td>@x.LONG_UTM_X</td>*@
                        <td>@x.MAIN_ROAD_NAME</td>
                        <td>@x.CITY</td>
                        <td>@x.COUNTY_NAME</td>
                        <td>@x.CRASH_SEVERITY_ID</td>
                        @*<td>@x.WORK_ZONE_RELATED</td>
                        <td>@x.PEDESTRIAN_INVOLVED</td>
                        <td>@x.BICYCLIST_INVOLVED</td>
                        <td>@x.MOTORCYCLE_INVOLVED</td>
                        <td>@x.IMPROPER_RESTRAINT</td>
                        <td>@x.UNRESTRAINED</td>
                        <td>@x.DUI</td>
                        <td>@x.INTERSECTION_RELATED</td>
                        <td>@x.WILD_ANIMAL_RELATED</td>
                        <td>@x.DOMESTIC_ANIMAL_RELATED</td>
                        <td>@x.OVERTURN_ROLLOVER</td>
                        <td>@x.COMMERCIAL_MOTOR_VEH_INVOLVED</td>
                        <td>@x.TEENAGE_DRIVER_INVOLVED</td>
                        <td>@x.OLDER_DRIVER_INVOLVED</td>
                        <td>@x.NIGHT_DARK_CONDITION</td>
                        <td>@x.SINGLE_VEHICLE</td>
                        <td>@x.DISTRACTED_DRIVING</td>
                        <td>@x.DROWSY_DRIVING</td>
                        <td>@x.ROADWAY_DEPARTURE</td>*@
                    </tr>

                }

            </tbody>

        </table>

        <br />

        <div page-tag="@Model.PageInfo"
             page-action="Summary"
             page-class="btn"
             page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary"
             page-classes-enabled="true"
             class="btn-group pull-right m-1"></div>
    </div>
</div>
